@media all and (max-width: 1370px) {
	.main-holder {
		width: 100%;
	}
}
@media all and (max-width: 1100px) {
	.container,
	#form_slider .bx-viewport,
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto,
	.bx-has-controls-direction,
	.app-bxslider {
		width: 750px !important;
	}
	.offset3 {
		margin-left: 104px !important;
	}
	.seminars .media {
		width: 115px;
	}
	.seminars li {
		float: left;
		margin-left: 45px;
	}
	.div-shadow {
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}
	.span6 {
		width: 352px;
	}
	.span2 {
		width: 170px;
	}
	.span3 {
		width: 245px;
	}
	#gallery .BWfade {
		width: 336px;
		height: 166px;
	}
	.offset4 {
		margin-left: 110px !important;
	}
	.partnersList {
		margin-top: -43px;
	}
	.dv1 {
		width: 250px;
	}
	#gallery .span6 {
		height: 190px;
		margin-bottom: 20px;
	}
	.list-forstart {
		width: 250px;
	}
	.dv2 .btn {
		margin-top: 29px;
	}





}
@media all and (max-width: 840px) {
	.largeh-Bold-white {
		margin: 25px 0 25px;
	}
	.ver2 {
	  margin: 30px auto 0;
	}
}
@media all and (max-width: 820px) {
	.container,
	#form_slider .bx-viewport,
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto,
	.bx-has-controls-direction,
	.excerpt,
	.app-bxslider {
		width: 550px !important;
	}
	.offset3 {
		margin-left: 0 !important;
	}
	.seminars li {
		margin-left: 5px;
	}
	.row {
		margin-left: 0;
	}
	.span6 {
		width: 100%;
		margin-left: 0 !important;
	}
	.media-news {
		width: 423px;
	}
	.span2 {
		width: 48%;
		margin-left: 2%;
		margin-bottom: 35px;
		min-height: 225px;
	}
	.span3 {
		margin-left: 0 !important;
		width: 33%;
	}
	#gallery {
		margin-left: 0;
	}
	#gallery .span6 {
		margin-left: 0;
	}
	#gallery .span6 .media-news {
		margin: 0 auto;
	}
	.reg-now {
		position: static;
		width: 100%;
		margin-bottom: 40px;
	}
	.slide-man1 {
		left: 100%;
	}
	.slide-man2 {
		left: 95%;
	}
	.slide-man3 {
		left: 90%;
	}
	.icon-success {
		left: 25%;
	}
	.software_slider {
		overflow: hidden;
	}
	.a-trig i {
		left: 20%;
	}
	#gallery .BWfade {
		width: 100%;
		height: 99%;
	}
	#elem-portable {
		position: static;
	}
	.dv1,
	.dv2 {
		float: none;
	}
	.video-bxslider {
		height: 460px;
	}
	.media-player {
		height: 460px;
	}
	.partnersList li {
		margin-left: 6px;
	}
	.sem-h {
		display: none;
	}
	.description-logo {
		display: none;
	}
	#gallery .span6 {
		height: auto;
	}





}
@media all and (max-width: 600px) {
	.container,
	#form_slider .bx-viewport,
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto,
	.bx-has-controls-direction,
	#elem-portable,
	.excerpt,
	.app-bxslider {
		width: 100% !important;
	}
	#form_slider .bx-viewport,
	#dafault_pager {
		padding-left: 20px;
		padding-right: 20px;
	}
	.container {
		padding-left: 30px;
		padding-right: 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.bx-viewport,
	#dafault_pager {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
	.span6 {
		width: 100%;
		margin-left: 0 !important;
	}
	.row {
		margin-left: 0 !important;
	}
	.trig-mob {
		margin: 0;
		overflow: visible;
	}
	.mob-ver-menu {
		height: 25pt;
		width: 25pt;
		border: 2px solid #ccc;
		cursor: pointer;
		margin-top: -5px;
	}
	.trig-mob ul {
		display: none;
		top: 131px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 100;
		background: #fff;
		-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
		box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
	}
	.nav-mob {
		background: url('icons.png') no-repeat -107px -347px;
		width: 12px;
		height: 12px;
		display: block;
		margin: 8pt auto;
	}
	.mob-ver-menu:hover,
	.mob-ver-menu.active {
		background: #EC1C25;
		border-color: #EC1C25;
	}
	.mob-ver-menu:hover .nav-mob,
	.mob-ver-menu.active .nav-mob {
		background-position: -125px -347px;
	}
	.trig-mob .backside {
		display: none;
	}
	.trig-mob .inside {
		position: static;
		top: 0;
	}
	.trig-mob li {
		float: none;
		margin: 0;
		padding-left: 20px;
		width: 100%;
		background: #fff;
		padding: 10px 0 10px 20px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.trig-mob .lastItem {
		margin-bottom: 15px;
	}
	.trig-mob .firstItem {
		margin-top: 15px;
	}
	.seminars li {
		float: none;
		margin: 0 auto 25px;
		width: 37%;
	}
	#back-top-wrapper {
		display: none;
	}
	.last-elem .nav-menu {
		display: none;
	}
	.modal {
		margin-left: -175px;
	}
	.span3 {
		float: none;
		width: 100%;
	}
	.noR-border,
	.noL-border {
		border: 1px solid #ccc !important;
	}
	.package-services caption {
		border: none !important;
	}
	.profitable {
		margin: 20px 0 !important;
	}
	.offsetY-6 {
		margin-top: 6px;
	}
	.offsetY-5 {
		margin-top: 6px;
		margin-bottom: 0;
	}
	.dv1,
	.dv2 {
		width: 100%;
	}
	.dv2 .btn {
		float: none;
		margin: 15px 0 0;
		width: 100%;
	}
	.xxxmedium-h {
		display: none;
	}
	.largeh-Bold-white {
		font-size: 45px;
	}
	.video-bxslider {
		height: 336px;
	}
	#form_slider.video-bxslider .bx-viewport {
		padding: 0;
	}
	.media-player {
		height: 460px;
	}
	.dv2.ver2 {
		margin: 55px auto 0;
	}
	.auto-x {
		width: 70%;
		display: block;
	}
	.partners .division-h {
		float: none;
		text-align: center;
	}
	.partnersList {
		margin: 0 0 0 0 !important;
	}
	.partnersList li {
		margin-left: 0;
		width: 50%;
	}
	.partnersList img {
		margin: 0 auto;
		display: block;
	}





}
@media all and (max-width: 485px) {
	.media-news {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}
@media all and (max-width: 400px) {
	.contact-header {
		float: none;
		margin-bottom: 15px;
		display: block;
		text-align: center;
	}
	.header .social-transform {
		height: 15px;
		float: none;
		width: 80px;
		margin: 0 40% 15px;
	}
	.icon-success {
		left: 20%;
	}
	.a-trig {
		width: 91%;
	}
	.span2 {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.trig-mob ul {
		display: none;
		top: 176px;
	}
	.img-slider {
		display: none;
	}
	#form_slider.software_slider .bx-wrapper {
	  padding-top: 40px;
	}
	.software_slider {
		height: 450px;
	}




}
@media print {
	.visible-print {
		display: block !important;
	}
	table.visible-print {
		display: table;
	}
	tr.visible-print {
		display: table-row !important;
	}
	th.visible-print,
	td.visible-print {
		display: table-cell !important;
	}
	.hidden-print,
	tr.hidden-print,
	th.hidden-print,
	td.hidden-print {
		display: none !important;
	}


}