{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="col-md-7 bann-info wow fadeInRight animated" data-wow-delay=".5s">
        <img src="../static/img/europcar_Z.jpg" alt="машина прокат, машина прокат Израиле, аренда машины Израиль" class="img-responsive" />
        <br /><h1>ОТДЕЛЕНИЯ ПО АРЕНДЕ ПРОКАТУ АВТОМОБИЛЕЙ В ИЗРАИЛЕ:</h1>
    </div>
    <div class="clearfix"></div>


    <div class="table-responsive">

        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><p><strong>Отделение проката</strong></p></td>
                    <td><p><strong>Адрес</strong></p></td>
                    <td><p><strong>Телефон в отделении</strong></p></td>
                    <td><p><strong>Часы работы</strong></p></td>
                    {% for i in range(1,27) %}
                </tr>
                <tr>
                    <td><p><img src="../static/img/blue_star_20px.png" class="card-img" alt="{{Albar_branches[i][3]}} - городское отделение аренды проката автомобилей в
                    Израиле">
                        <strong>{{Albar_branches[i][3]}}</strong> - городское отделение аренды проката автомобилей в
                        Израиле</p></td>
                    <td>{{Albar_branches[i][4]}} , {{Albar_branches[i][3]}}</td>
                    <td>+{{Albar_branches[i][5]}}</td>
                    <td>{{Albar_branches[i][9]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

</div>
</div>

{% endblock %}