<!DOCTYPE html>
<html lang="ru">
<head>
        <title>{{ title }}</title>
        <link rel="canonical" href="https://www.rentalcarsisrael.com/{{page}}"/>
        <meta name="description" content="{{title}}, бронирование онлайн, нет предоплаты, безлимитный километраж, нет скрытых платежей, говорим по русски, отделения в Бен Гурион, Тель Авив, Хайфа, Эйлат, Нетания, Ашдод, эконом семейные и люкс автомобили, минивэны" />
        <meta name="keywords" content="прокат аренда авто израиль, прокат авто Израиль, прокат авто Тель Авив, прокат авто Бен Гурион, прокат авто Эйлат, прокат авто, аренда авто, бронирование авто, прокат автомобиля, аренда автомобиля, бронирование автомобиля, аренда авто Израиль, аренда авто Тель Авив, аренда авто Бен Гурион, аренда авто Эйлат, Бен Гурион, Тель Авив, Хайфа, Эйлат, Нетания, Ашдод" />

        <meta property="fb:app_id" content="1322511981092474" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="ru_RU" />
        <meta property="og:url" content="https://www.rentalcarsisrael.com/ru/" />
        <meta property="og:image" content="https://www.rentalcarsisrael.com/images/thankyoucar.png"/>
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="640" />
        <meta property="og:image:height" content="320" />
        <meta property="og:title" content="{{title}}, Бронирование онлайн, Нет предоплаты, эконом семейные и люкс автомобили, минивэны" />
        <meta property="og:description" content="{{title}}, Бронирование онлайн, Нет предоплаты, эконом семейные и люкс автомобили, минивэны Whatsapp/Viber +972-58-7710101"/>

        <meta name="wot-verification" content="3e0d04601064490e9042"/>
        <meta name="yandex-verification" content="d2b06987db343039" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="../static/css/animate.css">
        <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
        <link href="../static/css/datepicker.css" rel="stylesheet">

        <!-- Custom Theme files -->

        <style>
                .top-header{background-color:#3F84B1;border-bottom:0 none;height:36px;line-height:35px;}
                .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
        </style>
        <script src='https://www.google.com/recaptcha/api.js?render=6LcnE2MUAAAAAFU0xgg2wTQsbm6pYhdDYHH2g65h'></script>


</head>
<body>
<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52856386-10', 'auto');
        ga('send', 'pageview');

</script>
<script type="application/ld+json"> {
        "@context" : "http://schema.org",
        "@type" : "TravelAgency",
        "image": "https://www.rentalcarsisrael.com/images/car_key_vastama.jpeg",
        "name":"Vastama Ltd",
        "url":"https://www.rentalcarsisrael.com",
        "email":"admin@vastama.com",
        "telephone":"972587710101",
        "openingHours": [
                "Su-Sa 09:00-18:00"],
        "aggregateRating":{
                "@type":"AggregateRating",
                "ratingValue":"5",
                "reviewCount":"5"},
        "priceRange":"2",
        "paymentAccepted":"Visa, Master Card, Amex"
} </script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(44676475, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
        });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44676475" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
        var _tmr = window._tmr || (window._tmr = []);
        _tmr.push({id: "2817254", type: "pageView", start: (new Date()).getTime()});
        (function (d, w, id) {
                if (d.getElementById(id)) return;
                var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
                ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
                var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
                if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
        })(document, window, "topmailru-code");
</script><noscript><div style="position:absolute;left:-10000px;">
        <img src="//top-fwz1.mail.ru/counter?id=2817254;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru coun-->





        <!-- top-header -->
        <div class="top-header">
                <div class="container">
                        <ul class="tp-hd-rgt wow fadeInRight animated" data-wow-delay=".5s">
                                <li class="tol">
                                        <!--                            <img src="../images/phone-icon.png" style="float:left;" alt="машина прокат, машина прокат Израиле, аренда машины Израиль" class="img-responsive" />-->
                                        <img src="../static/img/sprite_phone_viber_whatsapp.png" style="float:left;" alt="машина прокат, машина прокат Израиле, аренда машины Израиль" class="img-responsive" />
                                        +972-58-7710101</li>
                        </ul>
                        <div class="clearfix"></div>
                </div>
        </div>
        <!-- header -->
        <div class="header">
                <div class="container">
                        <div class="logo wow fadeInDown animated" data-wow-delay=".5s">
                                <a href="/ru/">Аренда автомобиля в <span>Израиле</span></a>
                        </div>
                        <div class="lock fadeInDown animated" data-wow-delay=".5s">
                                <div class="securetxt">ДЕШЕВО БЫСТРО И УДОБНО</div>
                                <!-- <div class="securetxt">Тел в России 7-499-1123-995</div> -->
                                <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                </div>
        </div>

        <div class="footer-btm wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="container">
                        <div class="navigation">
                                <!--			<nav class="navbar navbar-default">-->
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <!--				<div class="navbar-header">
                                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                  </button>

                                                </div>-->
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                                        <!--					<nav class="cl-effect-1">-->
                                        <ul class="nav navbar-nav">
                                                <li><a href="/ru/">
                                                        <img src="../static/img/eurocar_logo.png" alt="прокат аренда авто израиль" class="img-responsive" /></a></li>
                                                <li><a href="/ru/minivans">МИНИВЭНЫ
                                                        <img src="../static/img/hidden_pix.png" alt="Прокат Аренда авто в Израиле"/></a></li>
                                                <li><a href="/ru/branches">ОТДЕЛЕНИЯ
                                                        <img src="../static/img/hidden_pix.png" alt="Прокат Аренда авто в Израиле"/></a></li>
                                                <li><a href="/ru/insurance">СТРАХОВКИ
                                                        <img src="../static/img/hidden_pix.png" alt="Прокат Аренда авто в Израиле"/></a></li>
                                                <li><a href="/ru/terms">УСЛОВИЯ АРЕНДЫ
                                                        <img src="../static/img/hidden_pix.png" alt="Прокат Аренда авто в Израиле"/></a></li>
                                                <li><a href="/ru/faq">ЧаВо
                                                        <img src="../static/img/hidden_pix.png" alt="Прокат Аренда авто в Израиле"/></a></li>
                                                <li><a href="/ru/about">О КОМПАНИИ
                                                        <img src="../static/img/hidden_pix.png" alt="Прокат Аренда авто в Израиле"/></a></li>
                                                <!--<li><a href="http://www.rentalcarsisrael.com/en/">
                                                    <img src="../static/img/flags/United-States.png" alt="English lang site" class="pull-right">EN </a>
                                                </li>-->


                                                <div class="clearfix"></div>
                                        </ul>
                                        <!--					</nav>-->
                                </div>
                                <!--			</nav>-->
                        </div>

                        <div class="clearfix"></div>
                </div>
        </div>




{% block content %}{% endblock %}
<div class="container">
        <hr />
        <strong>Ссылки на страницы отделений проката автомобилей в Израиле</strong>

        <br><a href="/ru/AirPort-Ben-Gurion">Филиал в Международном аэропорту Бен-Гурион, Тель-Авив
                <img src="../static/img/hidden_pix.png" alt="Филиал в Международном аэропорту Бен-Гурион, Тель-Авив"/></a>
        <br><a href="/ru/AirportEilat">Филиал в Международном аэропорту Рамон, Эйлат
                <img src="../static/img/hidden_pix.png" alt="Филиал в Международном аэропорту Рамон, Эйлат"/></a>
        <br><a href="/ru/Branch-TelAviv-Yarkon80">Филиал в городе Тель-Авив, набережная, на улице ха-Яркон, 80
                <img src="../static/img/hidden_pix.png" alt="Филиал в городе Тель-Авив, набережная, на улице ха-Яркон, 803"/></a>
        <br><a href="/ru/Branch-TelAviv-haMelaha3">Филиал в городе Тель-Авив, центр, на улице ха-Мелаха, дом 3
                <img src="../static/img/hidden_pix.png" alt="Филиал в городе Тель-Авив, центр, на улице ха-Мелаха, дом 3"/></a>
</div>

        <!--foter -->
        <div class="copy-right">
                <div class="container">

                        <div class="footer-social-icons wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                                <ul>
                                        <li><a class="facebook" href="https://www.facebook.com/vastama.israel" data-hover="Facebook" target="_blank" rel="external"><span>Facebook</span></a></li>
                                        <li><a class="twitter" href="https://twitter.com/privateisrael" data-hover="Twitter" target="_blank" rel="external"><span>Twitter</span></a></li>
                                        <!--				<li><a class="flickr" href="#"><span>Flickr</span></a></li>-->
                                        <li><a class="googleplus" href="https://plus.google.com/109280707388242667721" data-hover="Google+" target="_blank" rel="external"><span>Google+</span></a></li>
                                        <!--				<li><a class="dribbble" href="#"><span>Dribbble</span></a></li>-->
                                </ul>
                        </div>
                        <p class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">&copy; 2014-2020 Vastama Ltd . All Rights Reserved </p>
                </div>
        </div>
        <!-- /copy-right -->
        <div class="container">
                <br />Наши поисковые запросы:
                <p style="color: ghostwhite; font-weight: lighter;" >прокат аренда авто израиль, прокат автомобиля в израиле, аренда прокат авто аэропорт, аренда прокат авто бен гурион, аренда прокат авто нетания, прокат авто тель авив, прокат авто тель авив, аренда авто израиль, аренда авто в иерусалиме, прокат авто в эйлате,
                        аренда автомобиля в Тель Авиве, аренда автомобиля в Эйлате, аренда автомобиля в Израиле, машина прокат, машина прокат Израиле, аренда машины Израиль,
                        avto prokat, prokat mashin, auto arenda, прокат аренда машин, где можно взять машину напрокат, заказать машину, аренда иномарок, arenda avto,
                        стоимость аренды машины, израиль прокат автомобилей, съем машины Израиле, аренда авто, прокат машины, сьем автомобиля,автомобиль,  машина Израиле, дешевый прокат автомобиля
                <hr />

        </div>
        <script async src='https://www.google.com/recaptcha/api.js'></script>
        <script async src="../static/js/jquery-1.11.1.min.js"></script>
        <script async src="../static/js/bootstrap.min.js"></script>
        <script async src="../static/js/wow.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>







</body>
</html>