{% extends "layout.html" %}
{% block content %}
<div  class="container">
    <div  class="col-md-7 bann-info wow fadeInRight animated"  data-wow-delay=".5s">
        <img src="../static/img/europcar_Z.jpg" alt="минивэн аренда прокат, минивэн прокат Израиле, аренда минивэны Израиль"

             class="img-responsive">
        <br>
        <h1>Автомобили в Израиле - минивэны</h1>
        <p style="color:grey; font-weight: bold;" >Здесь вы найдете информацию о том какие минивэны есть у нас в прокате
    </div>
    <h3>Аренда микроавтобуса минивэна в Израиле</h3>
    <br>
    Минимальный возраст водителя для аренды минивэна в Израиле составляет 25 лет + водительский стаж минимум 2 года,
    <a  href="/ru/terms" > ознакомиться с условиями аренды</a>
    <hr />Если вы незнакомы с дорогами Израиля и спецификой вождения в нашей стране то мы рекомендуем вам также приобрести
    полису по отмене личного участия <a  href="/ru/insurance" >в случае повреждения машины</a>
    или <a  href="/ru/insurance" >угона</a>.
    <br><a  href="/ru/insurance" > ознакомиться со страховками и полисами</a>
    <hr />Депозит который будет закрыт на вашей кредитной карте на время аренды минивэна расчитывается по формуле:
    сумма аренды(как написано в ваучере) + сумма франшизы(личного участия) + 200$.(окончательная сумма подсчитывается в отделение при получении минивэна)
    <div  class="clearfix"></div>
    <hr>
    <div  class="col-md-7 bann-info wow fadeInRight animated"  data-wow-delay=".5s">
        <!--<img  src="../images/europcar_Z.jpg"  alt="минивэн аренда прокат, минивэн прокат Израиле, аренда минивэны Израиль"

           class="img-responsive"> <br>-->
        <h2>Минивэн 9 мест</h2>
        <p style="color:grey; font-weight: bold;" >Пассажирские микроавтобусы 9 мест и минивэны
    </div>
    <h3>Минивэн 8 пассажиров + водитель</h3>
    <br>
    Мы входим в пятерку ведущих компаний в Израиле по прокату 9 местных машин (минивэн - 8 пассажиров +
    водитель), у нас эти автомобили представлены категорией Z(от 131$/в день
    - Заказать) которая включает в себя такие автомобили как VW
    Transporter, Citroen Jumpy, Hyundai i800 и другие, все автомобили с
    автоматической коробкой передач, франшиза (личное участие) на данную категорию минивэнов - 960$
    <p style="color:teal; font-weight: lighter;" >особо выгодное предложение - минивэн 9 мест автомат всего 2120$ за месяц аренды(обязательные страховки включены в цену)
    <hr />и более дешевой ручной (от 94$/в день - Заказать) категорией
    Y которая включает в себя такие автомобили как Renault Traffic,Hyundai
    i800 и другие, все автомобили с ручной коробкой передач, франшиза (личное участие) на данную категорию минивэнов - 960$
    <p style="color:teal; font-weight: lighter;" >особо выгодное предложение - минивэн 9 мест ручник всего 1600$ за месяц аренды(обязательные страховки включены в цену)
    <div  class="clearfix"></div>
    <hr />
    <div  class="col-md-7 bann-info wow fadeInRight animated"  data-wow-delay=".5s">
        <!--<img src="../images/catV8.jpg"  alt="машина прокат, машина прокат Израиле, аренда минивэны Израиль"

           class="img-responsive">--> <br>
        <h2>Минивэн 8 мест</h2>
        <p style="color:grey; font-weight: bold;" >Пассажирские микроавтобусы 8 мест и минивэны
    </div>
    <h3>Минивэн 7 пассажиров + водитель</h3>
    <br />
    Более распространненая категория это 8 местные минивэны (минивэн - 7 пассажиров +
    водитель) у нас эти автомобили представлены эксклюзивной категорией V8(от 120$/в
    день - Заказать) которая включает в себя такие автомобили как Toyota
    Sienna LE, Kia Carnival и другие, все автомобили с автоматической коробкой
    передач, франшиза (личное участие) на данную категорию минивэнов - 960$
    <p style="color:teal; font-weight: lighter;" >особо выгодное предложение - минивэн 8 мест автомат всего 1870$ за месяц аренды (обязательные страховки включены в цену)

    <hr />
    или более дешевой (от 104$/в день - Заказать) категорией
    S которая включает в себя такие автомобили как Hyundai i800 и другие, все
    автомобили с ручной коробкой передач, франшиза (личное участие) на данную категорию минивэнов - 960$
    <p style="color:teal; font-weight: lighter;" >особо выгодное предложение - минивэн 8 мест ручник всего 1760$ за месяц аренды (обязательные страховки включены в цену)

    <div  class="clearfix"></div>
    <hr />
    <div  class="col-md-7 bann-info wow fadeInRight animated"  data-wow-delay=".5s">
        <!--<img src="../images/catV.jpg"  alt="машина прокат, машина прокат Израиле, аренда минивэны Израиль"

           class="img-responsive">--> <br>
        <h2>Минивэн 7 мест</h2>
        <p style="color:grey; font-weight: bold;" >Пассажирские микроавтобусы 7 мест и минивэны
    </div>
    <h3>Минивэн 6 пассажиров + водитель</h3>
    <br />
    У нас эти автомобили представлены полногабаритной 7-местной категорией V(от 77$/в день
    - Заказать) которая включает в себя такие автомобили как Ford
    Galaxy, Ssangyong Rodius, Kia Sorento, Seat Alambra),
    Mitsubishi Outlander
    и другие, франшиза (личное участие) на данную категорию минивэнов - 960$
    <p style="color:teal; font-weight: lighter;" >особо выгодное предложение - минивэн 7 мест всего 1550$ за месяц аренды (обязательные страховки включены в цену)
    <hr />или более дешевой (от 60$/в день
    - Заказать) но менее просторной категорией U которая включает в себя
    такие автомобили как Mazda 5, Nissan Kashkay и другие, все автомобили с
    автоматической коробкой передач, франшиза (личное участие) на данную категорию минивэнов - 715$
    <p style="color:teal; font-weight: lighter;" >особо выгодное предложение - минивэн 7 мест всего 1220$ за месяц аренды(обязательные страховки включены в цену)
    <div  class="clearfix"></div>

    <div class="rupes">
        <div class="col-md-4 rupes-left wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
            <div class="rup-left">
                <img src="../static/img/creditcards.png" alt="Позвоните Vastama по аренде атомобиля в Израиле" class="img-responsive" />
            </div>
            <div class="rup-rgt">
                <h3>Принимаем основные кредитные карты</h3>
                <h4><a href="">Нет предоплаты, возможна оплата наличными</a></h4>
                <p>при возврате машины</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 rupes-left wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
            <div class="rup-left">
                <img src="../static/img/car.png" alt="Позвоните Vastama по аренде атомобиля в Израиле" class="img-responsive" />

            </div>
            <div class="rup-rgt">
                <h3>Безлимитный километраж</h3>
                <h4><a href="">На все категории машин</a></h4>
                <p>при заказе 3-30 дней</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 rupes-left wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
            <div class="rup-left">
                <img src="../static/img/guide.png" alt="Позвоните Vastama по аренде атомобиля в Израиле" class="img-responsive" />
            </div>
            <div class="rup-rgt">
                <h3>Экскурсия на машине клиента всего 250$</a></h3>
                <h4>от лицензированного гида</a></h4>
               
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>


    * Указанные цены соответствуют прейскуранту дилера компании EuropCar для низкого сезона и значительно отличаются от расценок на сайте\отделении поставщика <br />
    * Указанные цены НЕ ВКЛЮЧАЮТ обязательные страховки <br />
    * Указанные цены не включают НДС(только для лиц с Израильским гражданством) <br />
    Часы работы отделений - аэропорт Бен Гурион 24\7, остальные отделения 8-18, пятница 8-13  <br />
    Минимальный возраст водителя 21 год. Водитель 21-23 года - дополнительная оплата "молодой водитель" - 10$ в день <br />
    Модели автомобилей представлены исключительно для примера и при выдаче компания имеет право предоставить автомобиль того же класса, но другой марки.
    <br />Компания поставщик может изменить цены и конечной считается цена в ваучере.
    <br />
</div>

{% endblock %}